section[class="all"] {
  min-height: 85vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="all"] > h1 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="all"] > p {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
section[class="all"] > div[class="photos"] {
  min-height: 85vh;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.1em;
  /* border: 1px solid red; */
}

/*  */
section[class="people"] {
  min-height: 85vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="people"] > h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="people"] > p {
  font-size: 0.9em;
  text-align: center;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
section[class="people"] > div[class="photos"] {
  min-height: 85vh;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.1em;
  /* border: 1px solid red; */
}

/*  */
section[class="technology"] {
  min-height: 85vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="technology"] > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="technology"] > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
section[class="technology"] > div[class="photos"] {
  min-height: 85vh;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.1em;
  /* border: 1px solid red; */
}

/*  */
section[class="nature"] {
  min-height: 85vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="nature"] > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="nature"] > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
section[class="nature"] > div[class="photos"] {
  min-height: 85vh;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.1em;
  /* border: 1px solid red; */
}

/*  */
section[class="animals"] {
  min-height: 85vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="animals"] > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="animals"] > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
section[class="animals"] > div[class="photos"] {
  min-height: 85vh;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.1em;
  /* border: 1px solid red; */
}

/*  */
section[class="food"] {
  min-height: 85vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="food"] > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="food"] > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
section[class="food"] > div[class="photos"] {
  min-height: 85vh;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.1em;
  /* border: 1px solid red; */
}

/*  */
section[class="sports"] {
  min-height: 85vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="sports"] > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="sports"] > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
section[class="sports"] > div[class="photos"] {
  min-height: 85vh;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.1em;
  /* border: 1px solid red; */
}

/*  */
section[class="illustrations"] {
    min-height: 85vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column nowrap;
    gap: 1em;
    /* border: 1px solid red; */
  }
  section[class="illustrations"] > h1 {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    text-align: center;
  }
  section[class="illustrations"] > p {
    font-size: 0.9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    text-align: center;
    max-width: 60em;
  }
  section[class="illustrations"] > div[class="photos"] {
    min-height: 85vh;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 0.1em;
    /* border: 1px solid red; */
  }

/*  */
section[class="dark-photos"] {
    min-height: 85vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column nowrap;
    gap: 1em;
    /* border: 1px solid red; */
  }
  section[class="dark-photos"] > h1 {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    text-align: center;
  }
  section[class="dark-photos"] > p {
    font-size: 0.9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    text-align: center;
    max-width: 60em;
  }
  section[class="dark-photos"] > div[class="photos"] {
    min-height: 85vh;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 0.1em;
    /* border: 1px solid red; */
  }

/*  */
section[class="about-us-page"] {
  min-height: 75vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="about-us-page"] > article {
  min-height: 55vh;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 3em;
}
section[class="about-us-page"] > article :is(img) {
  height: 22em;
  width: min(100%, 30em);
  flex-grow: 1;
}
section[class="about-us-page"] > article :is(div) {
  min-height: 55vh;
  width: min(100%, 40em);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  flex-grow: 1;
  gap: 1em;
}
section[class="about-us-page"] > article :is(div) > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
}
section[class="about-us-page"] > article :is(div) > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  max-width: 60em;
}

/*  */
section[class="contact-us-page"] {
  min-height: 55vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="contact-us-page"] > article {
  min-height: 75vh;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 3em;
  /* border: 1px solid red; */
}
section[class="contact-us-page"] > article :is(img) {
  height: 25em;
  width: min(100%, 30em);
  flex-grow: 1;
}
section[class="contact-us-page"] > article :is(div) {
  min-height: 55vh;
  width: min(100%, 40em);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  flex-grow: 1;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="contact-us-page"] > article :is(div) > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="contact-us-page"] > article :is(div) > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  max-width: 60em;
}
section[class="contact-us-page"] > article :is(div) :is(ul) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-flow: column wrap;
  gap: 0.7em;
}
section[class="contact-us-page"] > article :is(div) :is(ul) > li {
  list-style: none;
  list-style-type: none;
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
}
section[class="contact-us-page"] > article :is(div) :is(form) {
  min-height: 4em;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.5em;
}
section[class="contact-us-page"] > article :is(div) :is(form) :where(input) {
  height: 3.5em;
  width: min(85%, 85%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: .3em;
}
section[class="contact-us-page"] > article :is(div) :is(form) :where(button) {
  height: 3.5em;
  width: 6em;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: .3em;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  cursor: pointer;
}

/*  */
section[class="filter-bar"] {
  min-height: 55vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 1em;
  /* border: 1px solid red; */
}
section[class="filter-bar"] > div[class="filter-bar-input-wrapper"] {
  min-height: 5em;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row nowrap;
  gap: 1em;
}
section[class="filter-bar"] > div[class="filter-bar-input-wrapper"] :is(input) {
  height: 3.5em;
  width: min(90%, 90%);
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 0.3em;
}
section[class="filter-bar"]
  > div[class="filter-bar-input-wrapper"]
  :is(button) {
  height: 3.5em;
  width: 8em;
  cursor: pointer;
  color: #fff;
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 0.3em;
}
section[class="filter-bar"] > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="filter-bar"] > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
  max-width: 60em;
}
.filter-categories {
  min-height: 3em;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 1em;
}
.filter-categories > button {
  height: 3em;
  width: min(100%, 10em);
  border-radius: .3em;
  border: 1px solid hsl(0, 0%, 80%);
  color: hsl(0, 0%, 20%);
  background-color: transparent;
  cursor: pointer;
  flex-grow: 1;
}
.filter-categories > button:where(:hover) {
  background-color: hsl(0, 0%, 95%);
}
section[class="filter-bar"] > article {
  min-height: 30vh;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0.3em;
  /* border: 1px solid red; */
}
section[class="filter-bar"]
  > article
  :is(div[class="warning-results-message"]) {
  min-height: 10vh;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
}
section[class="filter-bar"]
  > article
  :is(div[class="warning-results-message"])
  > p {
  font-size: 1.5em;
  color: hsl(0, 0%, 80%);
  font-weight: normal;
}
section[class="filter-bar"]
  > article
  :is(div[class="warning-results-message"]) {
  min-height: 10vh;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
}

section[class="filter-bar"]
  > article
  :is(div[class="warning-results-message"])
  > p {
  font-size: 1.5em;
  color: hsl(0, 0%, 80%);
  font-weight: normal;
}

/*  */
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* display: none; */
  background: conic-gradient(#0000 10%, #101010);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}

.search_webp {
  height: 22em;
  width: 28em;
}
