* {
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    transition: all 500ms;
    scroll-behavior: smooth;
}
*::after,
*::before {
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    margin: auto;
}

body {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    flex-direction: column;
}

main {
    min-height: 50vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
    flex-direction: column;
}


:root {
    --primary-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary-darker-font-color: hsl(0, 0%, 20%)
}

#root {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    min-height: 5em;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 0em;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}
nav > div {
    min-height: 5em;
    width: min(100%, 37em);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    flex-grow: 1;
}
nav > div[class="xtz"] {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1em;
}
nav > div :is(button) {
    height: 3em;
    width: 10em;
    border-radius: 5em;
    border: none;
    background-color: #0066ff;
    color: #fff;
    cursor: pointer;
}
nav > div :is(ul) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
nav > div :is(ul) > a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color: var(--primary-darker-font-color);
    font-size: .9em;
    font-weight: normal;
}
nav > div :is(ul) > a :where(li) {
    list-style-type: none;
    list-style: none;
}
nav > div :is(a) {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color: var(--primary-darker-font-color);
    font-size: .9em;
    font-weight: normal;
}
nav > div :is(h1) > a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color: hsl(0, 0%, 30%);
    font-size: 1.1em;
    font-family: "Playwrite DK Loopet Guides", serif;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
}
nav > div :is(ul) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em
}
nav > div :is(ul) > li {
    list-style: none;
    list-style-type: none;
}
nav > div :is(ul) > li :where(a) {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color: var(--primary-darker-font-color);
    font-size: .9em;
    font-weight: normal;
}

header {
    min-height: 25em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-image: url(/three-female-skiers-taking-selfie-mobile-phone_107420-96446.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header > article {
    min-height: 23em;
    width: min(85%, 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 1em;
    border-radius: .3em;
    background: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
}
header > article :is(h1) {
    font-size: 2.7em;
    font-weight: bold;
    color: #fff;
}
header > article :is(p) {
    max-width: 50em;
    font-size: .9em;
    font-weight: normal;
    color: #fff;
}
header > article :is(div) {
    height: 3.5em;
    width: min(90%, 48em);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: #fff;
    border-radius: .3em;
    gap: 1em;
}
header > article :is(div) > input {
    height: 3em;
    width: min(90%, 48em);
    border-radius: .3em;
    border: none;
}
header > article :is(button) {
    height: 3.5em;
    width: 7em;
    border: none;
    border-radius: .2em;
    color: #fff;
    background-color: #0066ff;
    cursor: pointer;
}

article[class="categories"] {
    min-height: 4em;
    width: min(90%, 90%);
    display: flex;
    /* border: 1px solid red; */
}
article[class="categories"] > div {
    min-height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
    /* border: 1px solid red */
}
article[class="categories"] > div > a {
    font-weight: normal;
    font-size: 1em;
    text-decoration-line: none;
    text-decoration-color: none;
    color: var(--primary-darker-font-color);
}

main > h1 {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    text-align: center;
}
main > a {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    text-align: center;
    max-width: 60em;
    text-decoration-color: none;
}
main > p {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    text-align: center;
    max-width: 60em;
}
main > div {
    min-height: 5vh;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
    font-size: 1em;
    color: hsl(0, 0%, 30%);
    font-weight: bold;
}
main > section[class="photos-categories"] {
    min-height: 50vh;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: .1em;
}
main > section[class="photos-categories"] :is(.Food) {
    width: 25em;
}
main > section[class="photos-categories"] :is(.Nature) {
    width: 15em;
}
main > section[class="photos-categories"] :is(.Animals) {
    width: 25em;
}
main > section[class="photos-categories"] :is(.dark-photos) {
    width: 35em;
}

main > section[class="photos-categories"] > a {
    height: 23em;
    width: min(90%, 30em);
    border: 1px solid #eee;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}
main > section[class="photos-categories"] > a::before {
    content: "keep.memories.com";
    height: 100%;
    width: min(100%, 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row wrap;
}
main > section[class="photos-categories"] > a :is(img) {
    height: 100%;
    width: min(100%, 100%);
    border: none;
}
main > section[class="photos-categories"] > a:is(:hover) {
    border-radius: .4em;
}
main > section[class="photos-categories"] > a:is(:hover)::before {
    background-color: rgba(0, 0, 0, .0);
}

/*  */
article[class="photo_resource"] {
    height: 19em;
    width: min(95%, 18.5em);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    flex-direction: column;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .1);
    border-radius: .2em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
    flex-grow: 1
}
article[class="photo_resource"] > img {
    height: 19em;
    width: min(100%, 100%);
}
article[class="photo_resource"] > img:is(:hover) {
    scale: 1.2;
}
article[class="photo_resource"] > div {
    height: 5em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    position: absolute; 
    bottom: 0px;
    left: 0px;
    gap: 0em;
    background-color: transparent;
}
article[class="photo_resource"] > div :where(section) {
    height: 2em;
    width: min(90%, 90%);
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
}
article[class="photo_resource"] > div :where(section) > p {
    font-size: .8em;
    font-weight: normal;
}
article[class="photo_resource"] > div :where(section) > aside {
    height: 2em;
}
article[class="photo_resource"] > div :where(section) > aside :where(button) {
    height: 3em;
    width: 2em;
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 80%);
    cursor: pointer;
    font-size: 1em;
}
article[class="photo_resource"] > div :where(section) > aside :where(a) > button {
    height: 3em;
    width: 2em;
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 80%);
    cursor: pointer;
    font-size: 1em;
}

section[class="public-section-page"] {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    gap: 1em;
    border: 1px solid rgb(0, 255, 42);

}
section[class="public-section-page"] > div[class="collection"] {
    min-height: 100vh;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    gap: 1em;
    /* border: 1px solid red; */
}

/*  */
section[class="logout-alert-box"] {
    min-height: 100vh;
    width: min(100%, 100%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    flex-flow: column wrap;
    gap: .5em;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: 5;
}
section[class="logout-alert-box"] > div {
    min-height: 15em;
    width: min(90%, 30em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    gap: .8em;
    background: #fff;
    border: 2px solid #0066ff;
    border-radius: 1em;
    color: #000;
}
section[class="logout-alert-box"] > div :is(h1) {
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
}
section[class="logout-alert-box"] > div :is(p) {
    font-weight: normal;
    text-align: center;
    font-size: .9em;
}
section[class="logout-alert-box"] > div :is(div) {
    height: 4em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
}
section[class="logout-alert-box"] > div :is(div) > button {
    height: 3em;
    width: min(90%, 8em);
    cursor: pointer;
    border-radius: .2em;
    background-color: #0066ff;
    border: none;
    color: #fff;
}

footer {
    height: 6em;
    width: min(100%, 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer > div {
    height: 5em;
    width: min(90%, 90%); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
footer :is(h1) {
    font-size: 1.4em;
    font-weight: bold;
    font-family: "Playwrite DK Loopet Guides", serif;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
}
footer :is(h1) > a {
    text-decoration-color: none;
    text-decoration-line: none;
    color: var(--primary-darker-font-color)
}
footer > aside {
    height: 3em;
    width: min(90%, 90%); 
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
}
footer > aside :is(span) {
    font-size: .9em;
    font-weight: normal;
    color: var(--primary-darker-font-color);
}
footer > aside :is(span) > a {
    color: var(--primary-darker-font-color);
    text-decoration-color: none;
    text-decoration-line: underline;
}
